<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DMS</title>

    <link rel="shortcut icon" href="./src/logo_icon.png">

    <!-- Bootstrap -->
    <link href="./style/vendors/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./style/vendors/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery custom content scroller(fixed sidebar) -->
    <!-- Custom Theme Style -->
    <link href="./style/custom.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <link href="./style/dashboard.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./script/vendors/jquery.min.js"></script>
    <!-- jquery ui-->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="./script/vendors/autoNumeric.js"></script>
    <!-- Bootstrap -->
    <script src="./script/vendors/bootstrap.min.js"></script>
    <!-- jQuery custom content scroller(fixed sidebar) -->
    <script src="./script/vendors/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="./script/vendors/jQuery.print.js"></script>

    <script src="./script/vendors/html2canvas.min.js"></script>
    <script src="./script/vendors/jszip.min.js"></script>

    <script src="./script/vendors/vfs_fonts.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="./script/vendors/moment.min.js"></script>
    <!-- bootstrap-datetimepicker -->
    <script src="./script/vendors/bootstrap-datetimepicker.min.js"></script>
    <!-- google captcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script type="text/javascript">
      var mxBasePath = './src';
      
      var urlParams = (function(url)
      {
        var result = new Object();
        var params = window.location.search.slice(1).split('&');
        
        for (var i = 0; i < params.length; i++)
        {
          idx = params[i].indexOf('=');
          
          if (idx > 0)
          {
            result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
          }
        }
        
        return result;
      })(window.location.href);
      
      var mxLanguage = urlParams['lang'];
    </script>
    
    <!-- Custom Theme Scripts -->
    <script src="./script/custom.js"></script>

    <script type="text/javascript" src="./src/js/mxClient.js"></script>
    <script type="text/javascript" src="./src/js/app.js"></script>

    <script src="./script/xmlToJson.js"></script>
    <!-- <script src="./script/utilities.js"></script> -->
    <!-- <script src="./script/dashboard.js"></script> -->
    <script src="./script/loader.js"></script>
    <script src="./script/newworkflow.js"></script>

    <script>
        /* If goods or service */
        $('.good_or_service').change(function () {
            if ($(this).val() == 'goods') {
                $('.e_way_bill').show();
                $('.e_way_bill').find('p').text("E-Way Bill Applicable");
            } else {
                $('.e_way_bill').show();
                $('.e_way_bill').find('p').text("E-Way Bill Not Applicable");

            }
        });
    </script>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- Left Column -->
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                      <a href="/dashboard/" class="site_title">
                        <!-- <i><img src="/src/logo_icon.png"></i>
                        <span><img src="/src/logo_light.png"></span> -->
                      </a>
                    </div>
                
                    <div class="clearfix"></div>
                
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                      <div class="profile_pic">
                        <!-- <img src="/src/img.jpg" alt="..." class="img-circle profile_img"> -->
                      </div>
                      <div class="profile_info">
                        <span>Welcome,</span>
                        <h2> {{.User.UserName}}</h2>
                      </div>
                    </div>
                    <!-- /menu profile quick info -->
                
                    <br />
                
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                      <div class="menu_section">
                        <ul class="nav side-menu">
                          <li class="active">
                            <a href="#home" data-target="#home" onclick="fetchBusinessList(); flushBusiness();">
                              <i class="fa fa-home"></i> Home
                            </a>
                          </li>
                          <li class="nonBusinessMenu">
                            <a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                              <li><a href="#professionals" onclick="fetchProfessionalTable();">Professionals</a></li>
                              <li><a href="#addUser" data-target="#addUser">Add Users</a></li>
                              <li><a href="#viewUser" onclick="fetchUserTable();">View Users</a></li>
                              <li><a href="#allocateRole" onclick="fetchUserList(); fetchBusinessList();" data-target="#allocateRole">Allocate Role</a></li>
                              <li><a href="#roleList" data-target="#roleList">Role List</a></li>
                            </ul>
                          </li>
                          <li class="nonBusinessMenu"><a><i class="fa fa-edit"></i> Structure <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                              <li><a href="#addDepartment" data-target="#addDepartment">Add Department</a></li>
                              <li><a href="#structureDepartment" data-target="#structureDepartment">Department</a></li>
                              <li><a href="#structureWorkflow" data-target="#structureWorkflow">WorkFlow</a></li>
                              <li>
                                <a>Users<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu active"><a href="#addStructureUser" data-target="#addStructureUser">Add User</a></li>
                                  <li class="sub_menu"><a href="#viewStructureUser">View Users</a></li>
                                  <li class="sub_menu"><a href="#allocateDepartment">Allocate Department</a></li>
                                  <li class="sub_menu"><a href="#structureRoleList">Role List</a></li>
                                </ul>
                              </li>
                              <li><a href="#structureInHouse" data-target="#structureInHouse">In-House</a></li>
                              <li>
                                <a>Second Party<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu active"><a href="#guardDepartment" data-target="#guardDepartment">Guard Department</a></li>
                                  <li class="sub_menu"><a href="#allocatorDepartment">Allocator</a></li>
                                  <li class="sub_menu"><a href="#otherDepartment">Other Departments</a></li>
                                  
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li class="nonBusinessMenu"><a><i class="fa fa-edit"></i> Suppliers <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                              <li><a href="#addSupplier" data-target="#addSupplier">Add Supplier</a></li>
                              <li><a href="#viewSupplier" onclick="fetchSupplierTable();">View Supplier</a></li>
                            </ul>
                          </li>
                          <li class="nonBusinessMenu"><a ><i class="fa fa-edit"></i> Customers <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                              <li><a href="#addCustomer" data-target="#addCustomer">Add Customer</a></li>
                              <li><a href="#viewCustomer" onclick="fetchCustomerTable();">View Customer</a></li>
                            </ul>
                          </li>
                          <li><a ><i class="fa fa-edit"></i> Approvals <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                              <li><a href="#inHouseApproval" onclick="fetchInHouseApprove(); fetchInHouseDecline();">In House Approvals</a></li>
                              <li><a href="#secondPartyApproval" onclick="fetchSecondPartyApprove();" >Second Party Approvals</a></li>
                            </ul>
                          </li>
                          <li id="businessMenu" style="display:none;"><a><i class="fa fa-edit"></i> Business <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                              <li><a href="#businessDashboard" data-target="#businessDashboard" >Dashboard</a></li>
                              <li><a >Bill Book <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu active"><a href="#addBillBook" data-target="#addBillBook" >Add Bill book/invoice book</a></li>
                                  <li class="sub_menu"><a href="#viewBillBook" onclick="fetchBillBooks();" >View Bill books</a></li>
                                </ul>
                              </li>
                              <li><a>Sales <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu"><a href="#addInvoice" data-target="#addInvoice" onclick="loadAddInvoice();" >Create Invoice</a></li>
                                  <li><a href="#salesRegister" onclick="fetchSalesRegister();" >Sales Register</a></li>
                                  <li><a href="#submitInvoice" data-target="#submitInvoice" >Submit Invoice</a></li>
                                  <li><a href="#eInvoice" data-target="#eInvoice" >E-Invoice/E-Way Bill Register</a></li>
                                </ul>
                              </li>
                              <li>
                                <a>Purchase Order
                                  <span class="label label-default bg-red pull-right">Coming Soon..</span>
                                  <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu"><a href="#addPO" data-target="#addPO" >Create P.O.</a></li>
                                  <li><a href="#submitPORegister" data-target="#submitPORegister" >Submit P.O.</a></li>
                                  <li><a href="#viewPORegister" data-target="#viewPORegister" >P.O. Register</a></li>
                                </ul>
                              </li>
                              <li><a>Purchase <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu"><a href="#addPurchase" data-target="#addPurchase" onclick="loadAddPurchase();" >Create Invoice</a></li>
                                  <li><a href="#submitPurchase" data-target="#submitPurchase">Submit Invoice</a></li>
                                  <li><a href="#purchaseRegister" onclick="fetchPurchaseRegister();">Purchase Register</a></li>
                                  <li><a href="#viewPR" data-target="#viewPR">Purchase Reconciliation</a></li>
                                </ul>
                              </li>
                              <li>
                                <a>Process
                                  <span class="label label-default bg-red pull-right">Coming Soon..</span>
                                  <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu"><a href="#createProcess" data-target="#createProcess" >Create Process</a></li>
                                  <li><a href="#executeProcess" data-target="#executeProcess" >Execute Process</a></li>
                                  <li><a href="#viewProcess" data-target="#viewProcess" >View Process</a></li>
                                </ul>
                              </li>
                              <li><a >Inventory <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu"><a  data-target="#addStore">Add Store</a></li>
                                  <li><a href="#defineItems" data-target="#defineItems">Define Items</a></li>
                                  <li><a href="#viewItemDefinition" onclick="fetchItemDefinition();">View Item Definitions</a></li>
                                  <li><a href="#inwardItems" data-target="#inwardItems" >Inward Items</a></li>
                                  <li><a href="#updateSerialNumber" data-target="#updateSerialNumber" >Update Serial Number</a></li>
                                  <li><a href="#viewInventory" data-target="#viewInventory" >View Inventory</a></li>
                                  <li><a href="#manageInventory" data-target="#manageInventory" >Manage Inventory</a></li>
                                  <li><a href="#transferInventory" data-target="#transferInventory" >Transfer Inventory</a></li>
                                  <li><a href="#inventoryRegister" data-target="#inventoryRegister" >Inventory Report</a></li>
                                </ul>
                              </li>
                              <li><a >GSTR <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                  <li class="sub_menu">
                                    <a href="#downloadGSTR" data-target="#downloadGSTR" onclick="fetchDownloadedGSTRDetails();">Download GSTR</a>
                                  </li>
                                  <li><a href="#gstr01" onclick="fetchGSTR01Invoice();">GSTR-1</a></li>
                                  <li><a href="#gstr02" onclick="fetchGSTR02Invoice();">GSTR-2</a></li>
                                  <li><a href="#gstr01" data-target="#gstr01">Annexure-1</a></li>
                                  <li><a href="#gstr02" data-target="#gstr02">Annexure-2</a></li>
                                </ul>
                              </li>
                              <li><a href="#excelUploads" data-target="#excelUploads" >Upload Excel</a></li>
                              <li><a >Reports <span class="badge bg-red pull-right">Coming Soon..</span></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- /sidebar menu -->
                
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                      <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      </a>
                      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                      </a>
                      <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                      </a>
                      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                      </a>
                    </div>
                    <!-- /menu footer buttons -->
                  </div>
            </div>
            <!-- /Left Column -->

            <!-- Top Navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="./src/img.jpg" alt="">{{.User.UserName}}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="./logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown notification">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green notificationCount">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li class="notificationPanel" style="display: none;">
                                        <a>
                                            <span>
                                                <span class="Sender">Admin</span>
                                                <span class="Time pull-right">3 mins ago</span>
                                            </span>
                                            <br>
                                            <span class="Message">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /Top Navigation -->
            <!-- Page Content -->
            <div class="right_col" role="main">
                <div class="right_col_content">

                </div>
            </div>
            <!-- /Page Content -->
        </div>
    </div>
</body>

</html>