textarea {
  resize: none;
  padding: 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  max-width: 660px;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}

@page {
  margin: 15px;
}
