.ui-autocomplete{ position: absolute; cursor: default;z-index:9999 !important;}
.fc-more-popover {
  overflow-y: scroll;
  max-height: 20%;
  max-width: 14%;
}

/* start css here */
.login {
  background: transparent;
  background-image: url(../../src/login_bg.png);
  background-size: cover !important;
  background-attachment: fixed;
  background-repeat:none;
  background-repeat:no-repeat;
}

.login:before{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: .4;
  content: "";
  z-index: -1;
  position:fixed;
}

.login a{color: #e80a3d;}

#otp_field, #forgot_otp_group{
  width:150px;
  display:inline;
  margin-right:10px;
}

.otp_group, .forgot_otp_group{
  margin-top:10px;
  display:none;
}

.login button {
  background-color: #ea4040 !important;
  border-color: #ea4040 !important;
  color: #fff !important;
}

.login button:hover {
  opacity: 0.8;
}

.login_form, .registration_form, .forgot_password_form, .create_password_form {
  background: rgba(255, 255, 255, 1);
  padding: 20px;
}

.login_content h1{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom:20px;
}

.login_content form {
  color: #2A3F54;
}

.Logining{
  margin-top: 8px!important;
  margin-right: 88px !important;
  float: right;
}

.login_content{padding-top:0px}

.login_content form{margin-bottom:0px}
/* .login_wrapper {
right: 0;
margin: 6% 15%;
} */
.or_separator{
  margin-bottom: 10px;
  font-size: 18px;
}
#forgot_password #mobile{
  margin-bottom:10px;
}
/* The message box is shown when the user clicks on the password field */
.change_password #message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  margin-bottom:10px;
}

.change_password #message p {
  padding: 5px 5px;
  font-size: 14px;
  text-align:left;
  margin-bottom: 0px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -8px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -8px;
  content: "✖";
}
.change_password #message{
  position:absolute;
  margin-top:-20px;
  width:100%;
  z-index:200;
}
/* end css here */
.registration_form .icheckbox_flat-green, .iradio_flat-green{border:none}

table.role_list tr td:first-child {font-weight: 600 !important;}
section.content.invoice i, h3.TradeName, h4 .TradeName, h4 .TradeName, p.lead.payment {
  color: #2196f3;
}
.forgot_password_form p.large {
  font-size: 16px;
}
.login_content h1{color: #005abb;}
.add_user .input-group{float: left}
a.register_with_us{background-color: #337ab7 !important; border-color: #2e6da4 !important; border-radius:5px !important; padding-top:2px !important; padding-bottom:2px !important; margin-top:10px !important; margin-bottom:10px !important; margin-right:20px;}
a.register_with_us:hover{color:#000 !important; background:#ea4040 !important}
.tile-stats .count{font-size:24px}
.input-group .form-control{z-index: 0 !important}
.div#ui-datepicker-div{z-index: 100 !important}
.btn-sm {
  font-size: 12px;
  font-weight: 500;
  background: #2072c3;
  color: #fff;
  border: none;
}
p.e_way_bill_text{
  font-size: 16px !important;
  font-weight: 500;
  color: #777;
}
.yellowColor{background-color: #ffff00; color:#000}
.redColor{background-color: #ff0000; color:#fff}
.greenColor{background-color: #c4e0b2; color:#000}
.redText {color: #ff0000;}

b.invoice_col3{width:110px; display:inline-block}
.section_title{font-size: 21px; color:#333; font-weight:400; display:block; border-bottom: 1px solid #e5e5e5;}
span.control-label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.nonlabel{
  display: inherit;
  max-width: inherit;
  margin-bottom: inherit;
  font-weight: inherit;
}
.inventory_table td, .inventory_table th {padding:10px}
#mstrTable tr.normal td {
  color: #235A81;
  background-color: white;
}
#mstrTable tr.highlighted td {
  color: #FFFFFF;
  background-color: #235A81;
}
#inventoryTab li a{padding-left:36px}
#inventoryTab li a::before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #777;
  position: absolute;
  left: 15px;
  display: block;
  color: #000;
  text-align: center;
}
#inventoryTab li.active a::before {
  content: '✔' !important;
}
.btn-danger{
  background-color: #c9302c;
}
div#item_first, div#accessories_first, div#processed_item, div#accessories_second{
  width:100%;
  display: inline-block;
  padding-top: 10px;
}
div#accessories_first, div#accessories_second {background: aliceblue;}
div#item_first, div#processed_item {background: beige;}
/* div#item_first label, div#accessories_first label, div#processed_item label, div#accessories_second label{font-weight: normal !important;}
div#item_first div, div#accessories_first div, div#processed_item div, div#accessories_second div{padding:0px;} */
div#processed_item label, div#accessories_second label{text-align:left; margin-bottom:10px}
