{{define "addDepartment.htm"}}
<div id="addDepartment" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Add Department</h3>
    </div>

  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <br />
          <form id="departmentForm" class="form-horizontal form-label-left add_user">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectDepartment">Reporting Department <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="reportingDepartment" class="form-control">
                        <option value="guardFile">Guard file</option>
                        <option value="purchase">Purchase Department</option>
                        <option value="quality">Quality Department</option>
                        <option value="approving">Approving Department</option>
                        <option value="finance">Finance Department</option>
                        <option value="allocation">Allocation Department</option>
                        <option value="store">Store Department</option>
                    </select>
                </div>
            </div>  
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="departmentName">Department Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="departmentName" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="shortName">Short Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="shortName" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="designation">Designation of the head of the Department <span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="designationHeadDepartment" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subDepartment">Sub Department(if any)
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="subDepartment" class="form-control col-md-7 col-xs-12" required >
              </div>
            </div> -->
            
            <div class="clearfix">

            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="button" onclick="hello()" class="btn btn-primary backToHome">Cancel</button>
                <button id="confirmAddDepartment" type="button" class="btn btn-success">Submit</button>
                <div class="message">

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
