{{define "addUser.htm"}}
<div id="addUser" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Add New User</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <br />
          <form id="userForm" class="form-horizontal form-label-left add_user">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user-name">User Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="UserName" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user-id">E-Mail <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="EMail" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user-id">User ID <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="UserID" class="form-control col-md-7 col-xs-12" required >
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Work Time<span class="required">*</span>
              </label>
              <div class="timeselector col-md-3 col-sm-3 col-xs-6 input-group date" style="padding-left:10px; padding-right:10px">
                <input type='text' name="StartTime" class="form-control" required/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
              <div class="timeselector col-md-3 col-sm-3 col-xs-6 input-group date" style="padding-left:10px; padding-right:10px">
                <input type='text' name="EndTime" class="form-control" required/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="Password" class="form-control col-md-7 col-xs-12" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="confirm-password">Confirm Password <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="confirmPassword" class="form-control col-md-7 col-xs-12" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              </div>
            </div>
            <div id="message" class="text-center">
              <p>Password must contain the following:</p>
              <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
              <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
              <p id="number" class="invalid">A <b>number</b></p>
              <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
            <div class="clearfix">

            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="button" class="btn btn-primary backToHome">Cancel</button>
                <button id="confirmAddUser" onclick="confirmAddNewUser()" type="button" class="btn btn-success">Submit</button>
                <div class="message">

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
