{{define "dashboard.htm"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Click2Bill | Dashboard</title>

  <link rel="shortcut icon" href="/src/logo_icon.png">

  <!-- Bootstrap -->
  <link href="/style/vendors/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/style/vendors/font-awesome.min.css" rel="stylesheet">
  <!-- jQuery custom content scroller(fixed sidebar) -->
  <link href="/style/vendors/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
  <!-- Datatables -->
  <link href="/style/vendors/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/style/vendors/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/style/vendors/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/style/vendors/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/style/vendors/scroller.bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap-datetimepicker -->
  <link href="/style/vendors/bootstrap-datetimepicker.css" rel="stylesheet">
  <!-- jQuery UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <!-- Custom Theme Style -->
  <link href="/style/custom.min.css" rel="stylesheet">
  <link href="/style/style.css" rel="stylesheet">
  <link href="/style/dashboard.css" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <script>


  /* If goods or service */
  $('.good_or_service').change(function() {
    if($(this).val() == 'goods') {
      $('.e_way_bill').show();
      $('.e_way_bill').find('p').text("E-Way Bill Applicable");
    } else {
      $('.e_way_bill').show();
      $('.e_way_bill').find('p').text("E-Way Bill Not Applicable");

    }
  });
  </script>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- Left Column -->
      {{template "leftCol.html" .}}
      <!-- /Left Column -->
      <!-- Top Navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <!-- <img src="/src/img.jpg" alt="">{{.User.UserName}} -->
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="javascript:;"> Profile</a></li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li><a href="javascript:;">Help</a></li>
                  <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /Top Navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div id="loadingWindow" class="right_col_content collapse in">
          <!-- <img src="/src/Ring-Loading.gif" alt="loading"> -->
        </div>
        <!-- Modal Loading Screen -->
        <div class="modal fade" id="modalLoader" data-backdrop="static" data-keyboard="false" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body text-center">
                <!-- <img src="/src/modalLoad.gif" alt="loading"> -->
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <div id="home" class="right_col_content collapse">
          <div class="row tab-pane active top_tiles">
            <div class="business-dummy-tile collapse animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <a href="#businessDashboard">
                <div onclick="loadBusiness(this, true);" class="tile-stats" style="height:141px">
                  <div class="icon">
                    <i class="fa fa-building-o"></i>
                  </div>
                  <h4 class="businessName"></h4>
                  <h4 class="businessGSTIN"></h4>
                  <ul>
                    <li class="saleCount">Sale - 10</li>
                    <li class="purchaseCount">Purchase - 50</li>
                    <li class="customerCount">Customer - </li>
                    <li class="supplierCount">Supplier - </li>
                  </ul>
                  
                </div>
              </a>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <a href="#addBusiness" data-toggle="collapse" data-target="#addBusiness, #home">
                <div class="tile-stats" style="height:141px">
                  <div class="icon">
                    <i class="fa fa-plus-square-o"></i>
                  </div>
                  <br/>
                  <h3>
                    Add Company
                  </h3>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Top Profiles <small>Sessions</small></h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item One Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Three Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Top Profiles <small>Sessions</small></h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item One Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Three Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Top Profiles <small>Sessions</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item One Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Three Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

       




        {{template "addBusiness.htm"}}
        {{template "editBusiness.htm"}}

        {{template "addUser.htm"}}
        {{template "professionals.htm"}}
        {{template "viewUser.htm"}}
        {{template "editUser.htm"}}
        {{template "allocateRole.htm"}}
        {{template "roleList.htm"}}

        {{template "addSupplier.htm"}}
        {{template "viewSupplier.htm"}}
        {{template "editSupplier.htm"}}

        {{template "addCustomer.htm"}}
        {{template "viewCustomer.htm"}}
        {{template "editCustomer.htm"}}

        {{template "inHouseApproval.htm"}}
        {{template "secondPartyApproval.htm"}}

        <!--Business-->

        {{template "businessDashboard.htm" .}}
        <!-- <script src="/script/business.js"></script> -->
        {{template "addBillBook.htm"}}
        {{template "viewBillBook.htm"}}

        {{template "addInvoice.htm"}}
        {{template "editInvoice.htm"}}
        {{template "invoicePreview.htm"}}
        {{template "salesRegister.htm"}}
        {{template "approveInvoice.htm"}}
        {{template "submitInvoice.htm"}}
        {{template "eInvoice.htm"}}

        {{template "addPO"}}
        {{template "submitPORegister.htm"}}
        {{template "viewPORegister.htm"}}

        {{template "addPurchase.htm"}}
        {{template "editPurchase.htm"}}
        {{template "purchasePreview.htm"}}
        {{template "purchaseRegister.htm"}}
        {{template "comparePurchase.htm"}}

        {{template "createProcess.htm"}}
        {{template "executeProcess.htm"}}
        {{template "viewProcess.htm"}}

        {{template "addStore.htm"}}

        {{template "defineItems.htm"}}
        {{template "viewItemDefinition.htm"}}
        {{template "inwardItems.htm"}}
        {{template "updateSerialNumber.htm"}}

        {{template "viewInventory.htm"}}
        {{template "manageInventory.htm"}}
        {{template "transferInventory.htm"}}
        {{template "inventoryRegister.htm"}}

        {{template "downloadGSTR.htm"}}
        {{template "gstr01.htm"}}
        {{template "gstr02.htm"}}

        {{template "excelUploads.htm"}}

        <!--/Business-->

      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Powered By Click2Bill</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
</body>
</html>
{{end}}