{{define "inHouseOtherDepartment.htm"}}
<div id="inHouseOtherDepartment" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>In-House</h3>
    </div>
  </div>  
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <form id="roleForm" class="mform form-horizontal form-label-left">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Document Name</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="DocumentName" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" required>Document Type<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="DocumentType" class="form-control user-list" required>
                </select>
              </div>
            </div>  
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Date of Document</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="timeselector date">
                    <div class="input-group">
                      <input type='text' name="StartTime" class="form-control" required/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Expected Date of Completion</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                  <div class="timeselector date">
                    <div class="input-group">
                      <input type='text' name="StartTime" class="form-control" required/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Remarks</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea name="Remarks" id="input" class="form-control" rows="3" required="required"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                  <input type="file" name="uploadDocument" placeholder="Upload Document Here" accept=".pdf, .doc, .docx, .xls, .xlsx"
                    class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary">Upload Document</button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="button" class="btn btn-primary">View Uploaded Document</button>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Allocate To</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="DepartmentName" class="form-control user-list" required></select><br>
                <select name="UserInDepartment" class="form-control user-list" required></select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <table class="viewProfessionalTable table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Document Name</th>
                  <th>Document Type</th>
                  <th>Document Date</th>
                  <th>Expected Date</th>
                  <th>Bar Code</th>
                  <th>Document</th>
                  <th>Remarks</th>
                  <th>Current Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>ABC</td>
                  <td>Bill</td>
                  <td>01/04/2020</td>
                  <td>10/05/2020</td>
                  <td>XXXXXXX</td>
                  <td>
                  <button type="button" class="btn btn-primary">View</button>
                  </td>
                  <td>
                  <button type="button" class="btn btn-primary">View Remarks</button>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
{{end}}
