{{define "structureWorkflow.htm"}}
<div id="structureWorkflow" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Workflow</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <br/>
          <form class="workFlowForm" class="mform form-horizontal form-label-left">
            <div>
              <div>
                <div style="overflow:hidden;">
                  <div id="title">
                      <!-- <h1>Structure Diagram</h1> -->
                  </div>
                  
                </div>
              </div>
              <div
                style="width:100%;padding-top:8px;padding-left:24px;padding-bottom:8px;">
              </div>
              <div style="width:100%;padding-left:54px;padding-bottom:4px;">
              </div>
              <table border="0" width="730px">
                <tr>
                  <td id="toolbar" style="width:16px;padding-left:20px;" valign="top">
                    <!-- Toolbar Here -->				
                  </td>
                  <td valign="top" style="border-width:1px;border-style:solid;border-color:black;">
                    <div id="graph" tabindex="-1" style="position:relative;height:480px;width:684px;overflow:hidden;cursor:default;">
                      <!-- Graph Here -->
                      
                    </div>
                    <textarea name="xml" style="height:480px;width:684px;display:none;border-style:none;"></textarea>
                  </td>
                </tr>
              </table>
              
              <span style="float:right;padding-right:36px;">
                <input id="source" type="checkbox"/>Source
              </span>
              
              <div>
                <p>Powered By: Click2Bill, Inc.</p>
                <!-- <p id="status">
                  
                </p> -->
                <br/>
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-4 col-sm-4 col-xs-12 text-center">

              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="button" class="btn btn-primary backToHome">Cancel</button>
                <button id="SaveButton" class="btn btn-primary" onclick="save()">Save</button>
                <button class="btn btn-primary" onclick="load()">Load</button>
                <!-- <button class="btn btn-primary" onclick="printDiagram()">Print Diagram Using SVG</button> -->
                <button id="confirmSendGraph" type="submit" class="btn btn-success">Submit</button>
                <div class="message">

                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 text-center">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
