{{define "viewWorkflow.htm"}}
<div id="viewWorkflow" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>View WorkFlow</h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="viewWorkFlowDatatable DataTable table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Added On</th>
                <th>Last Updated</th>
                <th>View WorkFlow</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <form>
                  <td>WorkFlow 01</td>
                  <td>01/01/2020</td>
                  <td>01/01/2020</td>
                  <td><button class="btn btn-primary">View</button></td>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
