{{define "assignDepartment.htm"}}
<div id="assignDepartment" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Allocate Department</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <br />
          <form id="roleForm" class="mform form-horizontal form-label-left">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userID">Select User</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="userID" class="form-control user-list" onchange="fetchRoleList(this);" required>
                </select>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="depttName">Select Department</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="depttName" class="form-control deptt-list" onchange="fetchRoleList(this);" required>
                </select>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Business</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="BusinessRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="BusinessRole" value="2"/> Maker</span>
                  <span><input type="radio" name="BusinessRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Users</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="UserRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="UserRole" value="2"/> Maker</span>
                  <span><input type="radio" name="UserRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Bill Book</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required>
                  <span><input type="radio" name="BillBookRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="BillBookRole" value="2"/> Maker</span>
                  <span><input type="radio" name="BillBookRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Supplier</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required>
                  <span><input type="radio" name="SupplierRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="SupplierRole" value="2"/> Maker</span>
                  <span><input type="radio" name="SupplierRole" value="3"/> Approver</span>
                  
                </p>
              </div>
              <span>* To note: Once added only Approver has right to edit Supplier details.</span>
            </div>
            <br>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Customer</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required>
                  <span><input type="radio" name="CustomerRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="CustomerRole" value="2"/> Maker</span>
                  <span><input type="radio" name="CustomerRole" value="3"/> Approver</span>
                  
                </p>
              </div>
              <span>* To note: Once added only Approver has right to edit Customer details.</span>
            </div>
            <br>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Sale</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required>
                  <span><input type="radio" name="SalesRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="SalesRole" value="2"/> Maker</span>
                  <span><input type="radio" name="SalesRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Purchase</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="PurchaseRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="PurchaseRole" value="2"/> Maker</span>
                  <span><input type="radio" name="PurchaseRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Inventory</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="InventoryRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="InventoryRole" value="2"/> Maker</span>
                  <span><input type="radio" name="InventoryRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Download from GST</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="GSTRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="GSTRole" value="2"/> Maker</span>
                  <span><input type="radio" name="GSTRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Ledger</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="LedgerRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="LedgerRole" value="2"/> Maker</span>
                  <span><input type="radio" name="LedgerRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="section">Assign Role For Bank Statement</span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select role(s) <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="user_roles_radio_group" required >
                  <span><input type="radio" name="BankRole" value="1"/> Viewer</span>
                  <span><input type="radio" name="BankRole" value="2"/> Maker</span>
                  <span><input type="radio" name="BankRole" value="3"/> Approver</span>
                  
                </p>
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-4 col-sm-4 col-xs-12 text-center">

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <button type="button" class="btn btn-primary backToHome">Cancel</button>
                <button id="confirmAllocateRole" type="submit" class="btn btn-success">Submit</button>
                <div class="message">

                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 text-center">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
