{{define "home.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DMS</title>

  <link rel="shortcut icon" href="/src/logo_icon.png">

  <!-- Bootstrap -->
  <link href="style/vendors/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="style/vendors/font-awesome.min.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="style/vendors/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="style/custom.min.css" rel="stylesheet">
  <link href="style/style.css" rel="stylesheet">
  <!-- jQuery -->
  <script src="script/vendors/jquery.min.js"></script>
  <!-- google captcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!--Custom Script-->
  <script src="script/home.js"></script>
</head>

<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <a class="hiddenanchor" id="forgot"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <img src="src/logo.png">
          <form action="/login/" method="post">
            <h1>Member Login</h1>
            <div>
              <select name="UserType" class="user_type form-control" required>
                <option value="" selected disabled>Select user type</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="professional">Professional</option>
              </select>
            </div>
            <br />
            <div>
              <input type="text" name="BusinessID" class="company_id form-control" placeholder="Company ID" required />
            </div>
            <div>
              <input type="text" name="UserID" class="form-control" placeholder="User ID" required />
            </div>
            <div>
              <input type="password" name="Password" class="form-control" placeholder="Password" required />
            </div>
            <!-- <div class="form-group">
              <div id="captcha1" class="g-recaptcha" data-sitekey="6LfbIc0UAAAAABnOq3Qj0m2RNyHdpBXJ8X2nA__x"></div>
            </div> -->
            <div>
              <button type="submit" class="btn btn-default submit">Log in</button>
              <!-- <a href="#forgot" class="reset_pass">Forgot Password</a> -->
            </div>

            <div class="clearfix"></div>

            <!-- <div class="separator">
              <p class="change_link">New to site?
                <a href="#signup" class="to_register"> Create Account </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <p>©2020 All Rights Reserved. DMS</p>
              </div>
            </div> -->
          </form>
        </section>
      </div>
      <!-- <div id="forgot_password" class="animate form forgot_password_form">
        <section class="login_content">
          <img src="src/logo.png">
          <h1>Forgot Password</h1>
          <p class="large">For Admin/Professionals</p>
          <div class="tab2">
            <form>
              <div>
                <input type="email" class="form-control" name="EMail" placeholder="E-Mail" required />
              </div>
              <div>
                <button type="button" onclick="generateOTP(this);" class="btn btn-default submit">Generate OTP</button>
                <div class="message">

                </div>
              </div>
              <div class="otp_group">
                <input type="text" class="form-control" name="OTP" placeholder="Enter OTP" required />
                <button type="button" class="btn btn-default" onclick="verifyOTP(this);">Verify OTP</button>
                <div class="message">

                </div>
                <div>
                  <input type="password" name="Password" class="form-control" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                  <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password"
                    required />
                  <span id="confirm_alert" class="fa form-control-feedback right" aria-hidden="true"></span>
                </div>
                <div id="message">
                  <p>Password must contain the following:</p>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div class="">
                  <button type="button" class="btn btn-default submit" id="confirmResetPassword">Submit</button>
                  <div class="message">

                  </div>
                </div>
              </div>
            </form>
            <hr />
            <p class="large">For User</p>
            <form>
              <div>
                <input type="text" class="form-control" name="BusinessID" placeholder="Enter Company ID" required />
              </div>
              <div>
                <input type="text" class="form-control" name="User" placeholder="Enter User ID" required />
              </div>
              <div>
                <button type="submit" class="btn btn-default submit" name="reset_password">Submit</button>
              </div>
              <div>
                <br />
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>
              </div>
            </form>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="#signup" class="to_register"> Create Account </a>
            </p>
            <div class="clearfix"></div>
            <div>
              <p>©2020 All Rights Reserved. Click2Bill</p>
            </div>
          </div>
        </section>
      </div> -->
      <!-- <div id="register" class="animate form registration_form">
        <section class="login_content">
          <img src="src/logo.png">
          <form id="regForm" name="registration" action="" method="post">
            <h1>Create Account</h1>
            <div class="tab">
              <div>
                <input type="text" class="form-control" name="Name" pattern="[a-zA-Z][a-zA-Z ]{2,30}" placeholder="Name"
                  required />
              </div>
              <div>
                <input type="text" class="form-control" name="PhoneNumber" pattern="[6-9][0-9]{9}" placeholder="Mobile"
                  required />
              </div>
              <div>
                <input type="email" class="form-control" name="EMail" placeholder="E-Mail" required />
              </div>
              <div style="display: flex; justify-content: space-between;">
                <div style="flex-grow: 1; padding-right: 1px;">
                  <button type="button" onclick="generateOTP(this);" class="btn btn-default submit">Generate
                    OTP</button>
                  <div class="message">

                  </div>
                </div>
              </div>
              <div class="otp_group">
                <div style="display:flex; justify-content: space-between;">
                  <div style="flex-grow: 1; padding-right: 1px;">
                    <input type="text" id="otp_field" class="form-control" name="OTP" placeholder="Enter OTP"
                      required="" size="10" style="width:100%" />
                  </div>
                  <div style="flex-grow: 1; padding-left: 1px;">
                    <button type="button" onclick="verifyOTP(this);" class="btn btn-default submit"
                      style="width:100%">Verify OTP</button>
                    <p class="message collapse"></p>
                  </div>
                </div>
                <div>
                  <input type="password" name="Password" class="form-control" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </div>
                <div>
                  <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                </div>
                <div id="message">
                  <p>Password must contain the following:</p>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div>
                  <button type="submit" class="btn btn-default submit" id="signUpButton">Submit</button>
                  <p class="message collapse"></p>
                  <a href="login.html#forgot" class="reset_pass">Lost your password?</a>
                </div>
              </div>

            </div>
            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <p>©2020 All Rights Reserved. Click2Bill</p>
              </div>
            </div>
          </form>
        </section>
      </div> -->
    </div>
  </div>
</body>

</html>
{{end}}