{{define "leftCol.htm"}}
<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
      <a href="/dashboard/" class="site_title">
        <!-- <i><img src="/src/logo_icon.png"></i>
                  <span><img src="/src/logo_light.png"></span> -->
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <!-- <img src="/src/img.jpg" alt="..." class="img-circle profile_img"> -->
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2> {{.User.UserName}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li class="active">
            <a href="#home" data-target="#home" onclick="fetchBusinessList(); flushBusiness();">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li class="nonBusinessMenu">
            <a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#professionals" onclick="$('#professionals').addClass('in');"  onclick="fetchProfessionalTable();">Professionals</a></li>
              <li><a href="#addUser" onclick="$('#addUser').addClass('in');" data-target="#addUser">Add Users</a></li>
              <li><a href="#viewUser" onclick="fetchUserTable();" onclick="$('#viewUser').addClass('in');$('#viewUser').removeClass('in');" data-target="#viewUser" >View Users</a></li>
              <li><a href="#assignDepartment" onclick="fetchAssignUserList(); fetchAssignDepttList();" onclick="$('#assignDepartment').addClass('in');$('#assignDepartment').removeClass('in');" data-target="#assignDepartment" >Assign Department</a></li>
              <li><a href="#allocateRole" onclick="$('#allocateRole').addClass('in');" onclick="fetchUserList(); fetchBusinessList();"
                  data-target="#allocateRole">Allocate Role</a></li>
              <li><a href="#roleList" data-target="#roleList">Role List</a></li>
            </ul>
          </li>
          <li class="nonBusinessMenu"><a><i class="fa fa-edit"></i> Structure <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#addDepartment" onclick="fetchReportingDepartment()" onclick="$('#addDepartment').addClass('in');" data-target="#addDepartment" >Add Department</a></li>
              <li><a href="#structureDepartment" onclick="fetchStructureDepartment();" data-target="#structureDepartment">Department</a></li>
              <li><a href="#structureWorkflow" onclick="$('#structureWorkflow').addClass('in');" data-target="#structureWorkflow">WorkFlow</a></li>
              <li>
                <a>Users<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu active"><a href="#addStructureUser" data-target="#addStructureUser">Add
                      User</a></li>
                  <li class="sub_menu"><a href="#viewStructureUser">View Users</a></li>
                  <li class="sub_menu"><a href="#structureRoleList">Role List</a></li>
                </ul>
              </li>
              <li><a href="#structureInHouse" onclick="$('#structureInHouse').addClass('in');"  data-target="#structureInHouse">In-House</a></li>
              <li>
                <a>Second Party<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu active"><a href="#guardDepartment"  onclick="$('#guardDepartment').addClass('in');"  data-target="#guardDepartment">Guard
                      Department</a></li>
                  <li class="sub_menu"><a href="#allocatorDepartment">Allocator</a></li>
                  <li class="sub_menu"><a href="#otherDepartment">Other Departments</a></li>

                </ul>
              </li>
            </ul>
          </li>
          <li class="nonBusinessMenu"><a><i class="fa fa-edit"></i> Suppliers <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#addSupplier"  onclick="$('#addSupplier').addClass('in');" data-target="#addSupplier">Add Supplier</a></li>
              <li><a href="#viewSupplier"  onclick="$('#viewSupplier').addClass('in');" data-target="#viewSupplier" onclick="fetchSupplierTable();">View Supplier</a></li>
            </ul>
          </li>
          <li class="nonBusinessMenu"><a><i class="fa fa-edit"></i> Customers <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#addCustomer"  onclick="$('#addCustomer').addClass('in');" data-target="#addCustomer">Add Customer</a></li>
              <li><a href="#viewCustomer"  onclick="$('#viewCustomer').addClass('in');" onclick="fetchCustomerTable();">View Customer</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-edit"></i> Approvals <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#inHouseOtherDepartment" onclick="fetchInHouseOtherDepartment();" onclick="$('#inHouseOtherDepartment').addClass('in');$('#inHouseOtherDepartment').removeClass('in');" data-target="#inHouseOtherDepartment" >In House Other Department
                  Approvals</a></li>
              <li><a href="#secondPartyApproval"  onclick="$('#secondPartyApproval').addClass('in');$('#secondPartyApproval').removeClass('in');" data-target="#secondPartyApproval">Second Party Approvals</a>
              </li>
              <li><a href="#secondPartyAllocatorDepartment" onclick="fetchSecondPartyAllocatorDeptt();" onclick="$('#secondPartyAllocatorDepartment').addClass('in');$('#secondPartyAllocatorDepartment').removeClass('in');" data-target="#secondPartyAllocatorDepartment" >Second Party Allocator Department</a></li>
              <li><a href="#secondPartyGuardDepartment" onclick="fetchSecondPartyGuardDeptt();" onclick="$('#secondPartyGuardDepartment').addClass('in');$('#secondPartyGuardDepartment').removeClass('in');" data-target="#secondPartyGuardDepartment" >Second Party Guard Department</a></li>
              <li><a href="#secondPartyOtherDepartment" onclick="fetchSecondPartyOtherDeptt();" onclick="$('#secondPartyOtherDepartment').addClass('in');$('#secondPartyOtherDepartment').removeClass('in');" data-target="#secondPartyOtherDepartment" >Second Party Other Department</a></li>
            </ul>
          </li>
          <li id="businessMenu" style="display:none;"><a><i class="fa fa-edit"></i> Business <span
                class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#businessDashboard"  onclick="$('#businessDashboard').addClass('in');" data-target="#businessDashboard">Dashboard</a></li>
              <li><a>Bill Book <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu active"><a href="#addBillBook" data-target="#addBillBook">Add Bill
                      book/invoice book</a></li>
                  <li class="sub_menu"><a href="#viewBillBook" onclick="fetchBillBooks();">View Bill books</a>
                  </li>
                </ul>
              </li>
              <li><a>Sales <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="#addInvoice" data-target="#addInvoice"
                      onclick="loadAddInvoice();">Create Invoice</a></li>
                  <li><a href="#salesRegister" onclick="fetchSalesRegister();">Sales Register</a></li>
                  <li><a href="#submitInvoice" data-target="#submitInvoice">Submit Invoice</a></li>
                  <li><a href="#eInvoice" data-target="#eInvoice">E-Invoice/E-Way Bill Register</a></li>
                </ul>
              </li>
              <li>
                <a>Purchase Order
                  <span class="label label-default bg-red pull-right">Coming Soon..</span>
                  <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="#addPO" data-target="#addPO">Create P.O.</a></li>
                  <li><a href="#submitPORegister" data-target="#submitPORegister">Submit P.O.</a></li>
                  <li><a href="#viewPORegister" data-target="#viewPORegister">P.O. Register</a></li>
                </ul>
              </li>
              <li><a>Purchase <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="#addPurchase" data-target="#addPurchase"
                      onclick="loadAddPurchase();">Create Invoice</a></li>
                  <li><a href="#submitPurchase" data-target="#submitPurchase">Submit Invoice</a></li>
                  <li><a href="#purchaseRegister" onclick="fetchPurchaseRegister();">Purchase Register</a></li>
                  <li><a href="#viewPR" data-target="#viewPR">Purchase Reconciliation</a></li>
                </ul>
              </li>
              <li>
                <a>Process
                  <span class="label label-default bg-red pull-right">Coming Soon..</span>
                  <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="#createProcess" data-target="#createProcess">Create Process</a>
                  </li>
                  <li><a href="#executeProcess" data-target="#executeProcess">Execute Process</a></li>
                  <li><a href="#viewProcess" data-target="#viewProcess">View Process</a></li>
                </ul>
              </li>
              <li><a>Inventory <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a data-target="#addStore">Add Store</a></li>
                  <li><a href="#defineItems" data-target="#defineItems">Define Items</a></li>
                  <li><a href="#viewItemDefinition" onclick="fetchItemDefinition();">View Item Definitions</a>
                  </li>
                  <li><a href="#inwardItems" data-target="#inwardItems">Inward Items</a></li>
                  <li><a href="#updateSerialNumber" data-target="#updateSerialNumber">Update Serial Number</a>
                  </li>
                  <li><a href="#viewInventory" data-target="#viewInventory">View Inventory</a></li>
                  <li><a href="#manageInventory" data-target="#manageInventory">Manage Inventory</a></li>
                  <li><a href="#transferInventory" data-target="#transferInventory">Transfer Inventory</a></li>
                  <li><a href="#inventoryRegister" data-target="#inventoryRegister">Inventory Report</a></li>
                </ul>
              </li>
              <li><a>GSTR <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu">
                    <a href="#downloadGSTR" data-target="#downloadGSTR" onclick="fetchDownloadedGSTRDetails();">Download
                      GSTR</a>
                  </li>
                  <li><a href="#gstr01" onclick="fetchGSTR01Invoice();">GSTR-1</a></li>
                  <li><a href="#gstr02" onclick="fetchGSTR02Invoice();">GSTR-2</a></li>
                  <li><a href="#gstr01" data-target="#gstr01">Annexure-1</a></li>
                  <li><a href="#gstr02" data-target="#gstr02">Annexure-2</a></li>
                </ul>
              </li>
              <li><a href="#excelUploads" data-target="#excelUploads">Upload Excel</a></li>
              <li><a>Reports <span class="badge bg-red pull-right">Coming Soon..</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
{{end}}