{{define "secondPartyOtherDepartment.htm"}}
<div id="secondPartyOtherDepartment" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Documents pending for Action</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <form id="secondPartyOtherDepttForm" class="mform form-horizontal form-label-left">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Sender</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="Sender" class="form-control user-list" onchange="fetchRoleList(this);" required>
                </select>
              </div>
            </div>
            <br />
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" required>Document Type<span
                  class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="DocumentType" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>
            <table class="viewProfessionalTable table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Sender Name</th>
                  <th>Document Type</th>
                  <th>Document Date</th>
                  <th>Bar Code</th>
                  <th>Document</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>ABC</td>
                  <td>Bill</td>
                  <td>01/04/2020</td>
                  <td>XXXXXXX</td>
                  <td>
                    <button type="button" class="btn btn-primary">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Sender Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="SenderName" class="form-control col-md-7 col-xs-12" readonly required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Document Type</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="docType" class="form-control col-md-7 col-xs-12" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Document Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="docDate" class="form-control col-md-7 col-xs-12" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Bar Code</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="BarCode" class="form-control col-md-7 col-xs-12" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-primary">View Document</button>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Remarks</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea name="Remarks" id="input" class="form-control" rows="3" required="required"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-primary">View Remarks</button>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Attachment</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-primary">Upload document</button>
                  <button type="button" class="btn btn-primary">View Document</button>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Allocate To</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select name="allotedTo" class="form-control user-list" required>
                    <option selected disabled>Choose Option</option>
                    <option value="guard">Guard</option>
                    <option value="purchase">Purchase</option>
                    <option value="sales">Sales</option>
                  </select>

                  <br>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button class="btn btn-success col-md-2 col-sm-2 col-xs-12">Approve</button>
                  <button class="btn btn-alert col-md-2 col-sm-2 col-xs-12">Reject</button>
                  <button class="btn btn-warning col-md-2 col-sm-2 col-xs-12">Pending</button>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-primary" id="confirmSecondPartyOtherDepartment">Submit</button>
                </div>
              </div>
              <label for="">Documents Completed</label>
              <table class="viewSecondPartyOtherDepttTable table table-striped table-bordered" cellspacing="0"
                width="100%">
                <thead>
                  <tr>
                    <th>Sender Name</th>
                    <th>Document Type</th>
                    <th>Document Date</th>
                    <th>Bar Code</th>
                    <th>Document</th>
                    <th>Remarks</th>
                    <th>Current Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}