{{define "secondPartyGuardDepartment.htm"}}
<div id="secondPartyGuardDepartment" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Sender</h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#professionalModal">Add a new Sender</button>
        <div class="modal fade" id="professionalModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <form id="addProfessional" class="form-horizontal form-label-left">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Add a new Sender</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" required>Name <span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" name="Sender" class="form-control col-md-7 col-xs-12" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email" required>Address <span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="email" name="SenderAddress" class="form-control col-md-7 col-xs-12" required>
                      </div>
                    </div>
                  
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                  <button class="btn btn-success" type="button" onclick="confirmAddProfessional()">Submit</button>
                  <div class="message">

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <form id="secondPartyGuardDepttForm" class="mform form-horizontal form-label-left">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Sender</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="SenderName" class="form-control user-list" onchange="fetchRoleList(this);" required>
                </select>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" required>Document Type<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="docType" class="form-control col-md-7 col-xs-12" required>
              </div>
            </div>  
            <table class="viewProfessionalTable table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Document Type</th>
                  <th>Document Date</th>
                  <th>Bar Code</th>
                  <th>Allocate To</th>
                  <th>Current Status</th>
                  <th>View Scan Copy</th>
                  <th>Add New Document</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Bill</td>
                  <td>01/04/2020</td>
                  <td>XXXXXXX</td>
                  <td>Allocator</td>
                  <td>Quality</td>
                  <td>
                  <button type="button" class="btn btn-primary">View</button>
                  </td>
                  <td>
                  <button type="button" class="btn btn-primary">Upload</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Sender Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select name="SenderName" class="form-control user-list" required>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Document Type</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select name="docType" class="form-control user-list" required>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Date of Document</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="timeselector date">
                      <div class="input-group">
                        <input type='text' name="docDate" class="form-control" required/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Receiving Mode</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select name="ReceivingMode" class="form-control user-list" required>
                    <option value="hand">Hand</option>
                    <option value="courier">Courier</option>
                    <option value="speedPost">SpeedPost</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">Remarks</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea name="Remarks" id="input" class="form-control" rows="3" required="required"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-primary">View Uploaded Document</button>
                  <button type="button" class="btn btn-primary" id="confirmSecondPartyGuardDeptt">Submit</button>
                </div>
              </div>
              <table class="viewSecondPartyGuardDepttTable table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Sender Name</th>
                    <th>Document Type</th>
                    <th>Document Date</th>
                    <th>Bar Code</th>
                    <th>Allocate To</th>
                    <th>Status</th>
                    <th>Documents</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ABC</td>
                    <td>Bill</td>
                    <td>01/04/2020</td>
                    <td>XXXXXXX</td>
                    <td>Allocator</td>
                    <td>Quality</td>
                    <td>
                    <button type="button" class="btn btn-primary">View</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
{{end}}
