{{define "structureDepartment.htm"}}
<div id="structureDepartment" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Department</h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#departmentModal">Add a new Department</button>
        <div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <form id="addDepartment" class="form-horizontal form-label-left">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Add a new Department</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name" required>Enter Field <span class="required">*</span>
                      </label>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="text" name="depttName" class="form-control col-md-7 col-xs-12" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                  <button class="btn btn-success" type="button" id="confirmAddNewDepartment">Submit</button>
                  <div class="message">

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table class="viewDepartmentTable table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Name of Department</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
