{{define "uploadWorkflow.htm"}}
<div id="uploadWorkflow" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Upload Scanned Document</h3>
    </div>
  </div>
  <div class="clearfix">
    <div class="">
    </div>
  </div>
  <div class="row">
    <div class="container" style="padding-left:10px; padding-right:15px">
      <div class="x_panel">
        <div class="x_content">
          <form id="uploadWorkflowForm" class="form-horizontal form-label-left">
            <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3">
                <div class="input-group">
                  <input type="file" name="ScannedWorkFlow" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" name="ScannedWorkFlow" class="btn btn-primary">Upload Scanned Document</button>
                    <button type="button" name="Preview" class="btn btn-primary hidden" onclick="previewPdf()">Preview Uploaded PDF</button>
                    <select name="chooseWorkflow" class="form-control hidden" required>Choose Workflow
                      <option value="Workflow1">Workflow 1</option>
                    </select>
                  </span>
                </div>
                <br/>
                <div id='pdfViewer' class='hidden' style="border: solid 1px black;width: 350px;height: 350px;"></div>
                <br/>
              </div>
              <div class="form-group text-center">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compareOldInvoicePrice">
                    Submit
                  </button>
                  
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>
{{end}}