{{define "viewUser.htm"}}
<div id="viewUser" class="tab-pane collapse right_col_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Users List</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">

          <table class="viewUserDatatable dataTable table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>UserName</th>
                <th>UserID</th>
                <th>Status</th>
                <th>Log</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="userLogModal modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">User Log</h4>
        </div>
        <form>
          <div class="modal-body">
            <input type="text" name="ID" readonly class="form-control">
          </div>
          <div class="modal-body log" style="height:auto; max-height:210px; overflow-y:auto">
            <p><strong>23/02/2020</strong></p>
            <p>Add a Remark Here.</p>
            <p><strong>24/02/2020</strong></p>
            <p>Added a Remark Here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
{{end}}
